 body, html{
    margin: 0;
    padding: 0;
    background-color: #252428;
    color: white;
}
ul li {
    list-style-type: none;
}
.alkuTietoTeksti{
  display: inline-block;
}
.alkuTietoTeksti div{
  display: inline-block;
}
.linkArea{
    border: 1px solid blue;
}
.flex{
    padding: 1px;
    border: 1px solid green;
    width: 100%;
    margin-bottom: 10%;
}
.child{
    width: 75%;
    height: 25%;
    float: left;
}
.child2 {
    width: 25%;
    height: 300px;
    float: right;
}
.tekstiosio{
    padding: 1rem;
    margin: auto;
    height: 100%;
    width: 90%;
    margin-top: 10%;
    background-color: #3d3d3d;
}
.otsikko{
    text-align: center;
}
.section1 {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid red;
    margin: auto;
    width: 80%;
    height: fit-content;
}
.codeArea{
    font-family: monospace;
    background-color: black;
    color: white;
    width: 90%;
    margin: auto;
}